[Unit]
Description=Alte Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 main.py
WorkingDirectory=/home/alte/alte.local
Restart=always
User=alte
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target