[Unit]
Description=Alte Service
After=multi-user.target

[Service]
ExecStart=sudo /usr/bin/python3 main.py
WorkingDirectory=/home/alte/alte.local
Restart=always

[Install]
WantedBy=multi-user.target